@charset "UTF-8";
/*options*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 4, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.wrap {
  flex-wrap: wrap;
}

/* line 7, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.m-l- {
  margin-left: -3px !important;
}

/* line 10, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.p_l {
  padding-left: 15px;
}

/* line 13, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.flex {
  display: flex;
}

/* line 16, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.alert {
  position: absolute;
  left: 35%;
  right: 0;
  margin: auto;
  width: 30%;
}

/* user image設定 */
/* line 24, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.user-icon-profile img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

/* body */
/* line 31, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
body {
  background: white;
}

/* line 34, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
footer {
  margin-top: 40px;
}

/* line 37, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.m-t40 {
  margin-top: 40px;
}

/* line 40, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.m-t20 {
  margin-top: 20px;
}

/* alert */
/* line 44, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.alert {
  margin-top: -20px;
  border-radius: 0px !important;
  margin: -20px 0 20px 0;
  text-align: center;
}

/* navbar */
/* line 55, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar-right {
  position: absolute;
  top: 8px;
  right: 30px;
}
/* line 59, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar-right .nav-popup {
  margin-top: 1px;
  border-radius: 5px;
  height: 30px;
  background-color: #fff;
  box-shadow: 2px 2px 5px 1px #999;
  position: relative;
  color: orange;
  width: 150px;
  left: 173px;
}
/* line 69, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar-right .nav-popup:hover {
  background-color: orange;
  color: white;
}
/* line 73, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar-right .nav-popup #current_point {
  width: 100%;
  padding-top: 5px;
  cursor: pointer;
  height: 100%;
  font-size: 15px;
  text-align: initial;
  padding-left: 40px;
}
/* line 82, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar-right .nav-popup .fa-street-view {
  position: absolute;
  left: 10px;
  top: 7px;
  font-size: 15px;
}

/* line 90, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar {
  background: linear-gradient(to right, #ff5858, orange);
  border-radius: 0px !important;
}
/* line 93, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .navbar-brand {
  margin-left: 70px !important;
}
/* line 95, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .navbar-brand:hover {
  font-size: 30px !important;
}
/* line 99, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .navbar-nav {
  padding-top: 5px;
}
/* line 102, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .nav li a, .navbar .navbar-brand {
  font-family: arial black;
  color: white;
  height: 60px;
  width: auto;
  background: transparent !important;
  font-size: 20px;
  padding-left: 30px !important;
}
/* line 110, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .nav li a:hover, .navbar .navbar-brand:hover {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  transition: 0.2s ease-in-out;
}
/* line 114, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .nav li a:hover .link, .navbar .navbar-brand:hover .link {
  width: 100%;
  padding: 0 5px 0 5px;
  visibility: visible;
  font-size: 15px;
}
/* line 123, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .fa-tag::before {
  font-size: 15px;
}
/* line 127, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .link {
  width: 0;
  font-family: 'Roboto', sans-serif;
  transition: 0.2s ease-in-out;
  visibility: hidden;
  font-size: 0px;
}
/* line 134, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar span {
  color: white;
  font-size: 25px;
}
/* line 138, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .navbar-toggle {
  padding-right: 0;
}
/* line 140, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .navbar-toggle .icon-bar {
  background: white;
}
/* line 144, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .btn-nav {
  background-color: darkslategray;
}
/* line 147, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .navbar-collapse {
  display: none;
}
/* line 150, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .nav-user {
  width: 100px;
}
/* line 153, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar button {
  background: transparent;
}
/* line 156, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar button[type=submit] {
  padding-right: 0;
}
/* line 158, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar button[type=submit] span {
  transition: 0.3s ease-in-out;
}
/* line 162, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar button[type=submit]:hover span {
  transform: scale(1.3) rotate(90deg);
}
/* line 167, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar form {
  padding: 0;
  padding-top: 5px;
}
/* line 170, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar form .form-control {
  border: 0;
  border-radius: 0;
  color: black;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  transition: 0.2s ease-in-out;
}
/* line 177, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar form .form-control:hover {
  background: white;
}
/* line 184, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .dropdown .fa-caret-down {
  padding-left: 3px;
  font-size: 18px;
  transition: 0.4s ease;
}
/* line 189, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .dropdown.open {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
}
/* line 192, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .dropdown.open .link {
  width: 100%;
  visibility: visible;
  font-size: 14px;
  padding: 0 5px 0 5px;
}
/* line 198, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .dropdown.open .dropdown-toggle {
  font-size: 14px;
}
/* line 201, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .dropdown.open .fa-caret-down {
  transform: rotate(180deg);
}
/* line 205, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .dropdown .dropdown-menu {
  background: #ff5858;
  text-align: center;
  border-radius: 0;
}
/* line 209, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .dropdown .dropdown-menu li, .navbar .dropdown .dropdown-menu a {
  color: white;
  font-size: 14px;
  line-height: 30px;
}
/* line 213, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar .dropdown .dropdown-menu li:hover, .navbar .dropdown .dropdown-menu a:hover {
  color: white;
  letter-spacing: 1px;
  background: transparent;
}

/* Small navbar */
@media (max-width: 769px) {
  /* line 226, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
  .navbar .link {
    padding-left: 10px;
    visibility: visible;
    width: 100%;
    font-size: 14px;
  }
  /* line 233, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
  .navbar .navbar-brand .link {
    visibility: hidden;
  }

  /* line 239, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
  .dropdown .dropdown-menu {
    text-align: left !important;
  }

  /* line 243, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
  button[type=submit] {
    width: 50%;
    float: left;
  }

  /* line 247, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
  .navbar-form input {
    width: 400px;
  }
}
/* cover */
/* line 253, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.logo {
  background: url(ranking-logo.jpg) center center no-repeat;
  height: 380px;
}

/* line 257, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.back {
  background: url("face.png") center center fixed;
}

/* line 260, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.sign-body {
  background: url(mountain.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 750px;
  margin-top: -20px;
}

/* line 266, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.main-section {
  margin-top: 130px;
  padding: 0;
}

/* line 270, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.model-content {
  background-color: #3b4652;
  opacity: .95;
  padding: 0 18px;
  box-shadow: 0px 0px 3px #848484;
}

/* line 277, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.user-img {
  margin-top: -50px;
  margin-bottom: 35px;
}
/* line 280, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.user-img i {
  font-size: 100px;
  color: #27c2a5;
  margin-top: -50px;
  background-color: #fff;
  border-radius: 50%;
  padding: 15px;
}

/* line 289, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.form-login {
  margin-bottom: 25px;
}
/* line 291, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.form-login .form-control {
  height: 42px;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 62px;
}

/* line 298, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.form-login::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
  position: absolute;
  font-size: 22px;
  color: #555e60;
  left: 28px;
  margin-top: 6px;
  padding-left: 4px;
  padding-right: 14px;
  border-right: 3px solid;
  margin-bottom: -5px;
}

/* line 312, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.email::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0e0";
}

/* line 317, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.password::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f023";
}

/* line 323, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.or {
  margin: 0 auto;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

/* line 330, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.btn-login, .btn-signin {
  width: 40%;
  margin: 20px 0 10px;
  background-color: #27c2a5;
  color: #fff;
  font-size: 19px;
  padding: 7px 14px;
  border-radius: 30px;
  border: none;
  margin-bottom: 10px;
}
/* line 340, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.btn-login i, .btn-signin i {
  margin-right: 10px;
}

/* line 344, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.btn-tweet-login, .btn-tweet-signin {
  width: 60%;
  margin: 5px 0 10px;
  color: #fff;
  font-size: 19px;
  padding: 7px 14px;
  border-radius: 30px;
  margin-bottom: 20px;
  background-color: #1da1f3;
  border: none;
}
/* line 354, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.btn-tweet-login i, .btn-tweet-signin i {
  margin-right: 10px;
}

/* line 358, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.btn-login:hover, .btn-login:focus {
  background-color: #25a890 !important;
}

/* line 361, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.btn-tweet-login:hover, .btn-tweet-login:focus {
  background-color: #4689FF !important;
  color: #005FFF;
}

/*toppage*/
/* line 367, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.toppage_contents {
  background-color: #fafafa;
}

/* line 370, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.cover {
  margin-top: -20px;
  width: 100%;
  height: 600px;
  background: url("vege.jpg") center center no-repeat;
  background-size: cover;
}

/* line 378, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.cover .cover-inner {
  height: 100%;
  margin: 0 auto;
  width: 60%;
}

/* line 383, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.cover .cover-inner .cover-contents {
  text-align: center;
  position: relative;
  padding-top: 175px;
}

/* line 388, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 50px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}

/* line 395, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.search {
  display: flex;
}
/* line 397, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.search .form-control {
  padding-left: 40px;
  border-radius: 0px !important;
  height: 60px;
  font-size: 15px;
}
/* line 403, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.search .freeword {
  width: 50%;
  position: relative;
}
/* line 406, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.search .freeword::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
  font-size: 20px;
  left: 13px;
  top: 17px;
  position: absolute;
  color: orange;
}
/* line 417, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.search .area {
  width: 30%;
  position: relative;
}
/* line 420, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.search .area::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3c5";
  font-size: 20px;
  left: 13px;
  top: 17px;
  position: absolute;
  color: orange;
}
/* line 431, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.search .btn {
  width: 20%;
  border-radius: 0px !important;
}

/* line 437, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.under-search {
  display: flex;
}
/* line 439, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.under-search .empty {
  width: 50%;
}
/* line 442, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.under-search .toppage-popup {
  width: 20%;
  height: 50px;
  background-color: #fff;
  box-shadow: 2px 2px 5px 1px #999;
  position: relative;
  color: orange;
  border-radius: 2px;
  margin-top: 1px;
}
/* line 451, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.under-search .toppage-popup:hover {
  background-color: orange;
  color: white;
}
/* line 455, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.under-search .toppage-popup #current_point {
  width: 100%;
  padding-top: 15px;
  cursor: pointer;
  height: 100%;
  font-size: 15px;
  text-align: initial;
  padding-left: 40px;
}
/* line 464, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.under-search .toppage-popup .fa-street-view {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 20px;
}

/* line 472, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.h2-top {
  padding-bottom: 20px;
  margin: 120px 15px 30px 15px;
  border-bottom: 2px solid #d5d5d8;
  font-family: Genkaimincho;
}

/* line 478, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.toppage-restaurant_title {
  font-size: 15px;
  margin-left: 5px;
  color: #fff;
  background-color: darkorange;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  display: inline-block;
}

/* line 488, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.toppage-comment_container {
  box-shadow: 0 0 3px;
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 45%;
  margin: 0 10px 20px 30px;
  padding: 0;
}

/* line 496, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.toppage-comment_image {
  width: 175px;
  height: 200px;
}
/* line 499, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.toppage-comment_image img {
  width: 175px;
  height: 200px;
}

/* line 504, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.toppage-comment_name {
  padding-left: 70px;
  margin-left: 10px;
  margin-bottom: 50px;
  margin-top: 10px;
  color: #6c6c75;
  font-size: 1.2em;
  margin-top: 20px;
}

/* items */
/* line 515, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.con {
  background-color: white;
  display: flex;
  overflow-x: auto;
}

/* line 521, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item {
  position: relative;
  width: 300px;
  margin: 0 15px;
}
/* line 525, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item .buttons {
  margin: 5px 0 5px 0;
}
/* line 528, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item .restaurant-img img {
  width: 300px;
  height: 250px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px;
  object-fit: cover;
}

/* line 536, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item-desc {
  padding: 10px 0;
}
/* line 538, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item-desc .item-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: bold;
  font-size: 14px;
  color: black;
  margin: 5px 0 1px 0;
}

/* line 549, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item_pr_long {
  font-size: 14px;
  margin: 40px 0;
}
/* line 552, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item_pr_long button {
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #34495E;
  padding: 5px 30px;
  font-size: 20px;
  display: inline-block;
}
/* line 561, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item_pr_long p {
  color: #4c5b66;
  padding: 10px;
  background-color: #fafafa;
  border: 1px solid #eaeaeb;
}

/* line 568, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.rating_container {
  position: relative;
  margin-bottom: 20px;
}
/* line 571, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.rating_container .star-rating_count {
  position: absolute;
  left: 105px;
  top: 0px;
  color: darkorange;
  font-weight: bold;
  font-size: 17px;
}

/* line 580, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item-pr {
  max-height: 130px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 12px;
}
/* line 587, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item-pr a {
  text-decoration: none;
  color: #555e60;
}

/* restaurant showpage*/
/* line 594, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.show_title_size {
  font-size: 30px !important;
  margin-bottom: 10px;
}

/* line 598, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.show_rating_size img {
  height: 23px !important;
  width: 23px !important;
}

/* line 602, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.show_star-rating_count {
  position: absolute;
  left: 150px;
  top: -5px;
  color: darkorange;
  font-weight: bold;
  font-size: 27px;
}

/* line 610, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
#map {
  height: 350px;
  width: 100%;
  margin: 0 auto;
}

/* line 615, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.write-review, .show-restaurant_like form input {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px shadow;
  padding: 6px;
  margin-right: 15px;
}

/* line 622, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.write-review i {
  color: orange;
  padding-right: 5px;
}

/* line 626, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.write-review a {
  text-decoration: none;
  color: orange;
  font-weight: bold;
}

/* line 631, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.show-restaurant {
  position: relative;
}

/* line 634, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.show-restaurant_like form {
  display: inline !important;
}

/* line 638, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.show-restaurant_right_images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
/* line 642, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.show-restaurant_right_images img {
  object-fit: cover;
  margin-right: 10px;
}

/* line 647, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.show-restaurant_cover {
  margin-top: -20px !important;
}

/* line 650, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.restaurant-info-table {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0 16px;
  border: 1px solid #eaeaeb;
  background-color: #fafafa;
  margin-top: 20px;
}

/* line 660, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.restaurant-info-table_body:not(:last-of-type) {
  border-bottom: 1px solid #eaeaeb;
}

/* line 663, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.restaurant-info-table_title {
  display: flex;
  box-sizing: border-box;
  flex: 130px;
  align-items: center;
  padding: 16px 8px;
  color: #2e2e3b;
  font-weight: 700;
}
/* line 671, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.restaurant-info-table_title i {
  margin-right: 10px;
  color: darkorange;
}

/* line 676, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.restaurant-info-table_body {
  display: flex;
  min-height: 80px;
  box-sizing: border-box;
  flex-basis: calc(100% - 212px);
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  padding: 16px 8px;
  color: #4a4a4b;
}

/* 新規登録　ログイン */
/* line 688, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.form-avatar {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  height: 30px;
  width: 70%;
  padding-top: 5px;
  margin: 0 auto;
}

/* line 697, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.avatar-icon {
  width: 10%;
  font-size: 18px;
  color: #555e60;
  padding: 1px;
  margin: 0 13px;
}

/*new-restaurant*/
/* line 706, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.scroll {
  overflow: scroll;
  height: 680px;
}

/* line 710, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.new-restaurant-container {
  margin-top: 10px;
}

/* line 713, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.new-restaurant {
  position: relative;
  display: flex;
  background-color: #fff;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 10px 10px 5px;
}

/* line 721, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.new-restaurant_img {
  width: 40%;
  height: 200px;
  margin-right: 10px;
}

/* line 726, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.new-item-desc {
  width: 60%;
}

/* line 729, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.background {
  overflow: hidden;
}

/* line 732, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.google-message {
  width: 50px;
  height: 20px;
}

/* line 736, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.restaurant-link {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 10px;
}

/*comment*/
/* line 744, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.comment-area {
  margin-top: 20px;
}

/* line 747, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.comment-container {
  border-bottom: 2px solid #dfdfdf;
  padding: 15px 0;
  margin-bottom: 1px;
}

/* line 752, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.comment-images {
  overflow-x: auto;
  white-space: nowrap;
  width: 80%;
  margin-bottom: 10px;
}
/* line 757, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.comment-images image {
  display: inline-block;
}

/* line 761, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.comment-icons {
  position: relative;
}
/* line 763, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.comment-icons .user-icon {
  position: absolute;
  top: -8px;
  left: 5px;
}
/* line 768, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.comment-icons .comment-name {
  padding-left: 70px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: #6c6c75;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 778, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.chat-box {
  margin: 10px 0 20px 10px;
}

/* line 783, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.user-icon img {
  border-radius: 50%;
  margin-left: 3px;
}

/* line 789, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.credit-form {
  border-radius: 5px;
  margin-top: 30px;
}
/* line 792, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.credit-form .telnumber {
  background-color: #4c5b66;
  color: #fff;
  font-size: 1.2em;
  padding-left: 5px;
  display: inline-block;
  margin-right: 10px;
  height: 35px;
  border-radius: 3px;
  padding: 4px 5px 0 5px;
}
/* line 802, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.credit-form .telnumber i {
  color: #fff;
  margin-right: 5px;
}

/* line 808, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.like-btn form input, .stripe-button-el {
  width: 100%;
  text-align: center;
  font-size: 20px;
  height: 40px;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 5px;
}

/* line 818, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.comment_form {
  margin-bottom: 10px;
}

/* line 822, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.p-comment__formBox {
  margin: 30px auto;
  padding: 25px 25px 10px 25px;
}

/* line 827, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.p-comment__formTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

/* line 832, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.comment_listTitle {
  margin-top: 50px;
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* line 839, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.comment-link:hover {
  text-decoration: none;
}

/* line 843, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.comment_bottom {
  font-size: 13px;
  text-align: left;
  position: relative;
}
/* line 847, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.comment_bottom i {
  padding-right: 10px;
  padding-left: 7px;
}
/* line 851, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.comment_bottom .btn {
  position: absolute;
  right: 10px;
  top: -7px;
}

/* restaurant show button*/
/* line 859, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.btn-gradient-3d-orange {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

/* line 870, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.btn-gradient-3d-orange:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/* mypage */
/* line 878, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.mypage_cover {
  background-color: #faf8f5;
  margin-top: -20px !important;
  padding: 50px 0;
}

/* line 883, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.mypage {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
}

/* line 889, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.menu ul {
  list-style: none;
  margin: 0;
}
/* line 892, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.menu ul li {
  font-size: 1.2em;
  padding: 15px;
  position: relative;
  background-color: #34495E;
  border-top: 1px solid #ccc;
  border-right: 5px solid #f1c40f;
  transition: all 0.3s;
}
/* line 900, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.menu ul li:hover {
  background-color: orange;
}
/* line 904, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.menu ul a {
  color: #fff;
  text-decoration: none;
}
/* line 908, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.menu ul span {
  margin-right: 15px;
}

/* line 912, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.logout {
  margin-top: 125px;
  border-right: 5px solid tomato !important;
}
/* line 915, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.logout:hover {
  background-color: #FF3333 !important;
}

/* follow follower */
/* line 921, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.following {
  border: none;
  background-color: #fff;
}

/* line 925, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.show-user_relation {
  border-bottom: 3px solid #ccc;
  color: darkslategrey;
  margin: 20px 0;
  justify-content: space-between;
}
/* line 930, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.show-user_relation span {
  color: black;
  padding-right: 5px;
}

/* line 935, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.relation_count {
  margin-top: 30px;
}

/* line 938, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.show-user_follow {
  border-right: 1px solid #ccc;
  padding-right: 40px;
}

/* line 942, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.show-user_follower {
  padding-left: 10px;
}

/* line 946, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.show-user_follow_button {
  padding-left: 40px;
}

/* line 949, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.profile {
  font-weight: bold;
}
/* line 951, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.profile p {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
}

/* line 960, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.following_button {
  position: relative;
  color: #fff;
}
/* line 963, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.following_button i {
  position: absolute;
  left: 60px;
  top: 2px;
}
/* line 968, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.following_button .following {
  width: 200px;
  background-color: #4c5b66;
  padding: 15px 0 15px 30px;
  border-radius: 5px;
}
/* line 974, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.following_button .follow {
  width: 200px;
  background-color: #fff;
  padding: 15px 0 15px 30px;
  border-radius: 5px;
  color: #4c5b66;
  border: 1px solid #4c5b66;
}

/* line 984, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.follow_and_follower_title {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 20px;
  margin-right: 40px;
  width: 90%;
}

/* line 990, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.follow_and_follower {
  box-shadow: 0 0 5px;
  height: 90px;
  padding: 5px;
  border-radius: 3px;
  margin: 10px 15px 10px 10px;
  background-color: #fff;
  color: darkslategrey;
  text-decoration: none;
}
/* line 999, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.follow_and_follower:hover {
  background-color: #FFFFDD;
}
/* line 1002, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.follow_and_follower .follow_image img {
  width: 75px;
  height: 100%;
}
/* line 1006, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.follow_and_follower .follow_name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
}
/* line 1011, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.follow_and_follower .follow_image {
  width: 30%;
  margin-right: 10px;
}
/* line 1015, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.follow_and_follower .follow_desc {
  padding: 15px 0;
  width: 70%;
}
/* line 1019, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.follow_and_follower .follow_comment, .follow_and_follower .follow_count {
  font-size: 1.1em;
  padding: 0 5px;
  font-weight: bold;
}

/*ranking*/
/* line 1027, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
hr {
  background-color: #d6ceb4;
  margin: 40px 0px;
  box-shadow: 0px 0px 5px;
}

/* line 1032, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.ranking-inner {
  width: 900px;
  background-color: white;
  margin: 0 auto;
}

/* line 1037, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.list {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid #F0E68C;
  box-shadow: 0px 0px 20px;
  background-color: white;
  border-radius: 15px;
  padding: 0px 20px 20px 20px;
}
/* line 1047, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.list img {
  width: 300px;
  margin: 5px 30px 5px 5px;
}

/* line 1052, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.list-title {
  width: 85%;
  border-bottom: 3px solid #e9e5e5;
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

/* line 1061, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.first span {
  font-size: 30px;
  color: #F0E68C;
}

/* line 1065, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.secound span {
  font-size: 30px;
  color: silver;
}

/* line 1069, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.third span {
  font-size: 30px;
  color: #D2691E;
}

/* line 1073, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.secound {
  width: 800px;
  border: 3px solid silver;
}

/* line 1077, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.third {
  width: 800px;
  border: 3px solid #D2691E;
}

/* line 1081, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.first .fas {
  color: #FFCC00;
  font-size: 30px;
  margin-right: 10px;
}

/* line 1086, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.secound .fas {
  color: silver;
  font-size: 25px;
  margin-right: 10px;
}

/* line 1091, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.third .fas {
  color: #D2691E;
  font-size: 20px;
  margin-right: 10px;
}

/* line 1096, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.list-title .rank {
  margin-right: 30px;
}

/* line 1099, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.list-box {
  display: table;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

/* line 1105, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.ranking-link {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 1110, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.list-img, .list-text {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
}

/* line 1115, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.like_count {
  size: 30px;
  font-size: 30px;
  color: orange;
}
/* line 1119, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.like_count i {
  margin-right: 20px;
}

/* line 1123, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.list-cat {
  background-color: #FF6600;
  border-radius: 10px;
  color: #fff;
  font-size: 10px;
  padding: 0 5px;
}

/* line 1130, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.list-date {
  color: #aaa;
  font-size: 10px;
  margin-left: 10px;
}

/* line 1135, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.list-text h3 {
  color: #555e60;
  font-size: 20px;
  line-height: 1.4;
  margin-right: 10px;
}
