@charset "UTF-8";
/* user image設定 */
/* body */
/* line 8, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
body {
  background: white;
}

/* line 11, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
footer {
  margin-top: 40px;
}

/* navbar */
/* line 17, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* cover */
/* line 23, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.cover {
  padding-top: 100px;
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 500px;
  background: url("gnavi_top") center center no-repeat;
  background-size: cover;
}

/* line 32, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}

/* line 37, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

/* line 43, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}

/* line 50, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.search {
  margin-bottom: 20px;
}

/* item */
/* line 55, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.panel {
  background-color: white;
}

/* line 58, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item .panel-body {
  height: 170px;
  background-color: #FF6600;
}

/* line 64, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item .buttons form {
  display: inline-block;
  margin: 0 5px;
  margin-top: 15px;
}

/* line 70, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item .panel-heading {
  height: 400px;
}

/* line 73, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item .panel-heading img {
  margin-top: 20px;
  height: 100%;
  max-width: 100%;
  max-height: 250px;
  width: auto;
}

/* line 80, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
p.item-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* line 89, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.panel-title {
  border-left: 4px solid #FF6600;
  padding-bottom: 20px;
  padding: 20px;
  font-weight: bold;
  font-size: 1.5em;
  background-color: white;
}

/* line 98, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item {
  margin: 0 auto;
}

/* line 102, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.item-pr {
  background-color: white;
  color: black;
  width: 75%;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  max-height: 130px;
}

/*comment*/
/* line 113, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.p-comment__formBox {
  margin: 30px auto;
  border: 5px solid #e8e8e8;
  padding: 25px;
  border-radius: 14px;
}

/* line 120, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.p-comment__formTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

/* line 125, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.p-comment__listTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

/* line 130, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.p-comment__list {
  margin: 38px 0;
  padding: 20px;
}

/* line 135, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.p-comment__item {
  padding: 18px;
  border-bottom: 2px dotted #dfdfdf;
}

/* line 140, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.p-comment__bottomLine {
  font-size: 15px;
  text-align: right;
}
/* line 144, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.p-comment__bottomLine > span {
  font-size: 14px;
  margin: 0 12px;
}

/* twitter login button */
/* line 151, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.twitter_btn {
  text-align: center;
}

/* line 154, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.btn-social-long-twitter {
  color: #FFF;
  /*文字・アイコン色*/
  border-radius: 7px;
  /*角丸に*/
  display: inline-block;
  height: 50px;
  /*高さ*/
  width: 250px;
  /*幅*/
  text-align: center;
  /*中身を中央寄せ*/
  font-size: 25px;
  /*文字のサイズ*/
  line-height: 50px;
  /*高さと合わせる*/
  background: #1da1f3;
  overflow: hidden;
  /*はみ出た部分を隠す*/
  text-decoration: none;
  /*下線は消す*/
}

/* line 168, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.btn-social-long-twitter .fa-twitter {
  text-shadow: 2px 2px 0px #4287d6;
  font-size: 20px;
  margin-right: 20px;
}

/* line 174, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.btn-social-long-twitter span {
  display: inline-block;
  transition: .5s;
}

/* line 179, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.btn-social-long-twitter:hover span {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

/* restaurant show button*/
/* line 185, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.btn-gradient-3d-orange {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

/* line 196, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.btn-gradient-3d-orange:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/* line 203, /Users/noguchidaisuke/gnavi/app/assets/stylesheets/application.scss */
.comment_area {
  float: left;
  max-width: 800px;
}
