<% unless current_user == user %>
    <% if current_user.following?(user) %>
        <%= form_with url: relationship_path(user),method: :delete do |f|  %>
            <%= hidden_field_tag :follow_id, user.id %>
            <span class="following_button"><i class="fas fa-check"></i><input type="submit" name="commit" value="Following" class="following" data-disable-with="送信中"></span>
        <% end %>
    <%else%>
        <%= form_with url: relationships_path,method: :post do |f|  %>
            <%= hidden_field_tag :follow_id, user.id %>
            <span class="following_button"><i class="fas fa-check" style=color:#4c5b66;></i><input type="submit" name="commit" value="Follow" class="follow" data-disable-with="送信中"></span>
        <% end %>
    <%end%>
<%end%>