<%content_for :cover do%>
  <div class="mypage_cover">
    <div class="container">
      <%= render 'sidebar',user: @user %>
      <div class="col-sm-8">
        <div class="mypage">
          <div class="user-profile">
            <div class="user-icon-profile text-center">
              <% if @user.avatar.attached? %>
                <%= image_tag(@user.avatar) %>
              <% else %>
                <img src="<%= gravatar_url(@user,size: 100) %>">
              <% end %>
            </div>
            <div class="name text-center">
              <h1><%= @user.name %></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>