<% if restaurant %>
  <div class="item">
    <%= link_to '',restaurant,class: 'restaurant-link'%>
    <div class="restaurant-img"><img src="<%= restaurant.shop_image1 %>"></div>
    <div class="item-desc">
      <p class="star-rating item-pr" data-score= <%= restaurant.comments.average(:rating)? restaurant.comments.average(:rating) : 0 %>></p>
      <div class="item-title"><%= restaurant.name %></div>
    </div>
  </div>
<% end %>

<script>
  $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
