<% if restaurant %>
  <div class="item">
    <img src="<%= restaurant.shop_image1 %>">
    <div class="item-desc">
      <% if logged_in? %>
        <div class="buttons"><%= render 'likes/like_button', restaurant:restaurant %></div>
      <% end %>
      <h3 class="item-title"><%= restaurant.name %></h3>
      <p class="item-pr"><%= link_to restaurant.pr_short, restaurant %></p>
    </div>
  </div>
<% end %>
