<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-3">
    <div class="item">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <img src="<%= @restaurant.shop_image1 %>" alt="">
        </div>
        <div class="panel-body">
          <p class="item-title"><%= @restaurant.name %></p>
          <div class="buttons text-center">
            <% if logged_in? %>
              <%= render 'likes/like_button', restaurant: @restaurant %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center"><%= link_to 'ぐるなびページ', @restaurant.url, target: '_blank' %></p>
</div>    
