@charset "utf-8";

/*options*/
.m-l-{
  margin-left:-3px !important;
}
border-radius-none{
  border-radius: 0px!important;
}
/* user image設定 */
.user-icon-profile img {
  border-radius:50%;
  width:300px;
  height:300px;
}

/* body */
body {
  background: white;
}
footer {
  margin-top: 40px;
}
.m-t40{
  margin-top:40px;
}
.m-t20{
  margin-top:20px;
}
/* alert */
.alert {
  margin-top:-20px;
  border-radius:0px!important;
  margin:-20px 0 20px 0;
}
/* navbar */

@import url('https://fonts.googleapis.com/css?family=Roboto');

// Navbar
.navbar {
  background: linear-gradient(to right, #ff5858,orange);
  border-radius:0px!important;
  .navbar-brand:hover{
    font-size:30px!important;
  }
  .navbar-nav{
    padding-top:5px;
  }
	.nav li a,.navbar-brand {
    font-family:arial black;
    color:white;
    height: 60px;
		width: auto;
		background: transparent !important;
    font-size: 20px;
    padding-left:20px;
		&:hover{
			background-color: rgba(255,255,255,0.2);
      font-size: 20px;
      transition: 0.2s ease-in-out;
			.link {
				width: 100%;
				padding: 0 5px 0 5px;
				visibility: visible;
				font-size: 15px;
			}
		}
  }
  .fa-tag{
    &::before{
    font-size:15px;
    }
  }
	.link {
		width: 0;
		font-family: 'Roboto', sans-serif;
		transition: 0.2s ease-in-out;
		visibility: hidden;
		font-size: 0px;
	}
	span {
    color: white;
    font-size:25px;
	}
	.navbar-toggle {
		padding-right: 0;
		.icon-bar {
			background: white;
		}
  }
  .btn-nav{
   background-color: darkslategray;
  }
	.navbar-collapse {
		display: none;
  }
  .nav-user{
    width:100px;
  }
	button {
		background: transparent;
	}
	button[type=submit] {
		padding-right: 0;
		span {
			transition: 0.3s ease-in-out;
		}
		&:hover {
			span {
				transform: scale(1.3) rotate(90deg);
			}
		}
	}
	form {
    padding: 0;
    padding-top:5px;
		.form-control {
			border: 0;
			border-radius: 0;
			color: black;
			font-weight: bold;
			background: rgba(255,255,255,0.7);
			transition: 0.2s ease-in-out;
			&:hover {
				background: white;
			}
		}
	}
	// Dropdown
	.dropdown {
		.fa-caret-down {
			padding-left: 3px;
			font-size: 18px;
			transition: 0.4s ease;
		}
		&.open {
			background-color: rgba(255, 255, 255, 0.2);
			font-size: 14px;
			.link {
				width: 100%;
				visibility: visible;
				font-size: 14px;
				padding: 0 5px 0 5px;
			}
			.dropdown-toggle {
				font-size: 14px;
			}
			.fa-caret-down {
				transform: rotate(180deg);
			}
		}
		.dropdown-menu {
			background: #ff5858;
			text-align: center;
			border-radius: 0;
			li, a {
				color: white;
				font-size: 14px;
				line-height: 30px;
				&:hover {
					color: white;
					letter-spacing: 1px;
					background: transparent;
				}
			}
		}	
	}
}

/* Small navbar */
@media(max-width: 769px) {
	.navbar {
		.link {
			padding-left: 10px;
			visibility: visible;
			width: 100%;
			font-size: 14px;
		}
		.navbar-brand {
			.link {
				visibility: hidden;
			}
		}
	}
	.dropdown {
		.dropdown-menu {
			text-align: left !important;
		}
	}
	button[type=submit] {
		width: 50%;
		float: left;
	}
	.navbar-form input{
      width:400px;
  }
}

/* cover */
.logo{
  background:url(ranking-logo.jpg) center center no-repeat;
  height:380px;
}
.back{
  background:url("face.png") center center fixed;
}
.sign-body{
  background:url(mountain.jpg) no-repeat center center fixed;
  background-size:cover;
  height: 750px;
  margin-top: -20px;
}
.main-section {
  margin-top: 130px;
  padding: 0;
}
.model-content {
  background-color:#3b4652;
  opacity: .95;
  padding: 0 18px;
  box-shadow: 0px 0px 3px #848484;
}

.user-img{
  margin-top: -50px;
  margin-bottom: 35px;
  i{
    font-size:100px;
    color:#27c2a5;
    margin-top: -50px;
    background-color: #fff;
    border-radius:50%;
    padding:15px;
  }
}
.form-group{
  margin-bottom: 25px;
  .form-control{
    height: 42px;
    border-radius:5px;
    font-size:18px;
    padding-left: 62px;
  }
}
.form-group::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
  position:absolute;
  font-size:22px;
  color: #555e60;
  left:28px;
  margin-top: 6px;
  padding-left: 4px;
  padding-right: 14px;
  border-right:3px solid;
  margin-bottom: -5px;
}
.email::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0e0";
}
.password::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f023";
}

.or{
  margin:0 auto;
  font-size:20px;
  color:white;
  margin-bottom: 10px;
}

.btn-login,.btn-signin{
  width:40%;
  margin:20px 0 10px;
  background-color: #27c2a5;
  color:#fff;
  font-size:19px;
  padding: 7px 14px;
  border-radius:30px;
  border:none;
  margin-bottom: 10px;
  i{
    margin-right: 10px;
  }
}
.btn-tweet-login,.btn-tweet-signin{
  width:60%;
  margin:5px 0 10px;
  color:#fff;
  font-size:19px;
  padding: 7px 14px;
  border-radius:30px;
  margin-bottom: 20px;
  background-color: #1da1f3;
  border:none;
  i{
    margin-right: 10px;
  }
}
.btn-login:hover,.btn-login:focus{
  background-color: #25a890!important;
}
.btn-tweet-login:hover,.btn-tweet-login:focus{
  background-color: #4689FF!important;
  color:#005FFF;
}

/*toppage*/

.cover {
  margin-top: -20px;
  margin-bottom: 70px;
  width: 100%;
  height: 600px;
  background: url("vege.jpg") center center no-repeat;
  background-size: cover;
}

.cover .cover-inner {
  height: 100%;
  margin:0 auto;
  width:60%;
}
.cover .cover-inner .cover-contents {
  text-align: center;
  position: relative;
  padding-top:175px;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 50px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.search{
  display:flex;
  .form-control{
    padding-left:40px;
    border-radius:0px!important;
    height:60px;
    font-size:15px;
  }
  .freeword{
    width:50%;
    position:relative;
    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f002";
      font-size:20px;
      left:13px;
      top:17px;
      position:absolute;
      color:orange;
    }
  }
  .area{
    width:30%;
    position:relative;
    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f3c5";
      font-size:20px;
      left:13px;
      top:17px;
      position:absolute;
      color:orange;
    }
  }
  .btn{
    width:20%;
    border-radius: 0px!important;
  }
}

.under-search{
  display:flex;
  .empty{
    width:50%;
  }
  #pop_up {
    width:20%;
    height:50px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 1px #999;
    position:relative;
    color:orange;
    &:hover{
      background-color:orange;
      color:white;
    }
    #current_point{
      width:100%;
      padding-top:15px;
      cursor:pointer;
      height:100%;
      font-size:15px;
      text-align: initial;
      padding-left: 40px;
    }
    .fa-street-view{
      position:absolute;
      left:10px;
      top:15px;
      font-size:20px;
    }
  }
  
}

.h1-top{
  margin:0 20px 50px;
  padding-bottom:30px;
  border-bottom:5px solid orange;
}
/* item */

.con {
  background-color: white;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  height:500px;
  overflow:scroll;
  padding-top:20px;
}
.item{
  width:30%;
  margin-bottom:60px;
  position:relative;
  .buttons{
    margin:10px 0 5px 0;
  }
  img {
    width: 100%;
    height: 230px;
    box-shadow:0 0 10px;
    .buttons form {
      display: inline-block;
      margin: 0 5px;
      margin-top: 15px;
    }
  }
}
.item-desc{
  padding:10px;
  box-shadow:0 0 10px;
}


.item-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: bold;
  font-size:20px;
  color:black;
  margin-bottom:15px;
}

.item-pr {
  max-height: 130px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  a{
    text-decoration: none;
    color:#555e60;
  }
}

/*new-restaurant*/
.scroll{
  overflow:scroll;
  height:680px;
}
.new-restaurant-container{
  margin-top: 30px;
}
.new-restaurant{
  position:relative;
  display:flex;
  background-color: #fff;
  border-top:1px solid #dfdfdf;
  border-bottom:1px solid #dfdfdf;
  padding:10px 10px 10px 0;
}
.new-restaurant img{
  width:40%;
  height:200px;
  margin-right:10px;
}
.new-item-desc{
  width:60%;
}
.background{
  margin:0 30px;
  overflow:hidden;
}
.google-message{
  width:50px;
  height:20px;
}
.restaurant-link{
  height:100%;
  width:100%;
  position:absolute;
  top:0px;
  left:10px;
}
/*comment*/
.comment-area{
  //border:1px solid #dfdfdf;
  //box-shadow:0 0 5px;
  margin-top:30px;
  float:left;
  max-width: 800px;
}
.comment-icons{
  text-align:center;
  margin:0 auto;
  padding-top:10px;
}
.balloon {
  position: relative; /* 三角の位置を固定するために設定 */
  display: inline-block;
  max-width: 400px;
  margin: 15px 0 0 5px;
  padding: 8px 15px; /* ふきだし内の余白 */
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  //background: #eeea0c; /* 背景色 */
  text-align: left; /* テキストの揃え */
  border-radius: 15px;
  font-weight:bold;
  box-shadow:2px 2px 0 gray; 
}
.balloon::after {
  content: '';
  border: 14px solid transparent;
  border-top-color: #FFC107;
  position: absolute;
  top: 0;
  left: -10px;
}
.user-icon{
  img{
    border-radius:50%;
    width:60px;
    height:60px;
  }
}
.credit-form{
  float:right;
  border:1px solid #eaeaeb;
  box-shadow:0 0 5px;
  margin-top:30px;
  padding:10px;
  background-color:#eaeaeb;
  .telnumber{
    font-size:1.5em;
    padding-left: 20px;
    font-weight:bold;
    border:1px solid;
    background-color: #fff;
    i{
      margin-right: 20px;
    }
  }
}
.like-btn form input,.stripe-button-el {
  width:100%;
  text-align: center;
  font-size:20px;
  height:40px;
  margin-top:10px;
  font-weight: bold;
  border-radius:5px;
}

.comment_form{
  margin-bottom:10px;
}
.comment-name{
  color:#6c6c75;
  font-size:1.2em;
  margin-top:10px;
  margin-bottom:80px;
}
.p-comment__formBox {
  margin: 30px auto;
  padding: 25px 25px 10px 25px;
}

.p-comment__formTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.p-comment_listTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 10px;
  font-size:20px;
  font-weight:bold;
}

.p-comment_list {
  margin: 38px 0;
  padding: 5px 20px 20px 20px;
}
.p-comment__item {
  padding: 18px;
  border-bottom: 2px dotted #dfdfdf;
}
.p-comment__bottomLine {
  font-size: 15px;
  text-align: left;
  position:relative;
  i{
    padding-right:20px;
    padding-left:20px;
  }
  .btn{
    position:absolute;
    right:3px;
    top:-7px;
  }
}
/* restaurant show button*/
.btn-gradient-3d-orange {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.btn-gradient-3d-orange:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/*ranking*/
hr{
  background-color:#d6ceb4;
  margin:40px 0px;
  box-shadow:0px 0px 5px;
}
.ranking-inner{
  width:900px;
  background-color: white;
  margin:0 auto;
}
.list{
  width:800px;
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  border: 3px solid #F0E68C;
  box-shadow:0px 0px 20px;
  background-color: white;
  border-radius:15px;
  padding:0px 20px 20px 20px;
  img{
    width: 300px;
    margin: 5px 30px 5px 5px;
  }
}
.list-title{
  width:85%;
  border-bottom:3px solid rgb(233, 229, 229);
  font-size:20px;
  font-weight:bold;
  color:black;
  padding:20px;
  border-radius:10px;
}
.first span{
  font-size:30px;
  color:#F0E68C;
}
.secound span{
  font-size:30px;
  color:silver;
}
.third span{
  font-size:30px;
  color:#D2691E;
}
.secound{
  width:800px;
  border:3px solid silver;
}
.third{
  width:800px;
  border:3px solid #D2691E;
}

.first .fas{
  color:#FFCC00;
  font-size:20px;
  margin-right: 10px;
}
.secound .fas {
  color:silver;
}
.third .fas {
  color:#D2691E;
}
.list-title .rank{
  margin-right:30px;
}
.list-box {
display: table;
width: 100%;
margin-bottom:20px;
}
.list-img,.list-text {
display: table-cell;
vertical-align: middle;
}
.list-cat {
background-color: #FF6600;
border-radius: 10px;
color: #fff;
font-size: 10px;
padding: 0 5px;
}
.list-date {
color: #aaa;
font-size: 10px;
margin-left: 10px;
}
.list-text h2 {
color: #000;
font-size: 20px;
line-height: 1.4;
margin-right: 10px;
}

// stripe 決済ページ