@charset "utf-8";
/*options*/
.wrap{
  flex-wrap: wrap;
}
.m-l-{
  margin-left:-3px !important;
}
.p_l{
  padding-left:15px;
}
.flex{
  display:flex;
}
.overflow-hidden{
  overflow:hidden;
}
/* user image設定 */
.user-icon-profile img {
  border-radius:50%;
  width:300px;
  height:300px;
}

/* body */
body {
  background: white;
}
footer {
  margin-top: 40px;
}
.m-t20{
  margin-top:20px;
}
/* alert */
.alert {
  margin-top:-20px;
  border-radius:0px!important;
  margin:-20px 0 20px 0;
  text-align:center;
  i{
    margin-right:10px;
  }
}
/* navbar */

@import url('https://fonts.googleapis.com/css?family=Roboto');

// Navbar
.navbar-right {
  position:absolute;
  top:8px;
  right:30px;
  .nav-popup {
    margin-top:1px;
    border-radius:5px;
    height:30px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 1px #999;
    position:relative;
    color:orange;
    width:150px;
    left:173px;
    &:hover{
      background-color:orange;
      color:white;
    }
    #current_point{
      width:100%;
      padding-top:5px;
      cursor:pointer;
      height:100%;
      font-size:15px;
      text-align: initial;
      padding-left: 40px;
    }
    .fa-street-view{
      position:absolute;
      left:10px;
      top:7px;
      font-size:15px;
    }
  }
}
.navbar {
  background: linear-gradient(to right, #ff5858,orange);
  border-radius:0px!important;
  .navbar-brand{
    margin-left:70px!important;
    &:hover{
      font-size:30px!important;
    }
  }
  .navbar-nav{
    padding-top:5px;
  }
	.nav li a,.navbar-brand {
    font-family:arial black;
    color:white;
    height: 60px;
		width: auto;
		background: transparent !important;
    font-size: 20px;
    padding-left:30px!important;
		&:hover{
			background-color: rgba(255,255,255,0.2);
      font-size: 20px;
      transition: 0.2s ease-in-out;
			.link {
				width: 100%;
				padding: 0 5px 0 5px;
				visibility: visible;
				font-size: 15px;
			}
		}
  }
  .fa-tag{
    &::before{
    font-size:15px;
    }
  }
	.link {
		width: 0;
		font-family: 'Roboto', sans-serif;
		transition: 0.2s ease-in-out;
		visibility: hidden;
		font-size: 0px;
	}
	span {
    color: white;
    font-size:25px;
	}
	.navbar-toggle {
		padding-right: 0;
		.icon-bar {
			background: white;
		}
  }
  .btn-nav{
   background-color: darkslategray;
  }
	.navbar-collapse {
		display: none;
  }
  .nav-user{
    width:100px;
  }
	button {
		background: transparent;
	}
	button[type=submit] {
		padding-right: 0;
		span {
			transition: 0.3s ease-in-out;
		}
		&:hover {
			span {
				transform: scale(1.3) rotate(90deg);
			}
		}
	}
	form {
    padding: 0;
    padding-top:5px;
		.form-control {
			border: 0;
			border-radius: 0;
			color: black;
			font-weight: bold;
			background: rgba(255,255,255,0.7);
			transition: 0.2s ease-in-out;
			&:hover {
				background: white;
			}
		}
	}
	// Dropdown
	.dropdown {
		.fa-caret-down {
			padding-left: 3px;
			font-size: 18px;
			transition: 0.4s ease;
		}
		&.open {
			background-color: rgba(255, 255, 255, 0.2);
			font-size: 14px;
			.link {
				width: 100%;
				visibility: visible;
				font-size: 14px;
				padding: 0 5px 0 5px;
			}
			.dropdown-toggle {
				font-size: 14px;
			}
			.fa-caret-down {
				transform: rotate(180deg);
			}
		}
		.dropdown-menu {
			background: #ff5858;
			text-align: center;
			border-radius: 0;
			li, a {
				color: white;
				font-size: 14px;
				line-height: 30px;
				&:hover {
					color: white;
					letter-spacing: 1px;
					background: transparent;
				}
			}
		}	
	}
}

/* Small navbar */
@media(max-width: 769px) {
	.navbar {
		.link {
			padding-left: 10px;
			visibility: visible;
			width: 100%;
			font-size: 14px;
		}
		.navbar-brand {
			.link {
				visibility: hidden;
			}
		}
	}
	.dropdown {
		.dropdown-menu {
			text-align: left !important;
		}
	}
	button[type=submit] {
		width: 50%;
		float: left;
	}
	.navbar-form input{
      width:400px;
  }
}

/* cover */
.logo{
  background:url(ranking-logo.jpg) center center no-repeat;
  height:380px;
}
.back{
  background:url("face.png") center center fixed;
}
.sign-body{
  background:url(mountain.jpg) no-repeat center center fixed;
  background-size:cover;
  height: 750px;
  margin-top: -20px;
}
.main-section {
  margin-top: 130px;
  padding: 0;
}
.model-content {
  background-color:#3b4652;
  opacity: .95;
  padding: 0 18px;
  box-shadow: 0px 0px 3px #848484;
}

.user-img{
  margin-top: -50px;
  margin-bottom: 35px;
  i{
    font-size:100px;
    color:#27c2a5;
    margin-top: -50px;
    background-color: #fff;
    border-radius:50%;
    padding:15px;
  }
}
.form-login{
  margin-bottom: 25px;
  .form-control{
    height: 42px;
    border-radius:5px;
    font-size:18px;
    padding-left: 62px;
  }
}
.form-login::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
  position:absolute;
  font-size:22px;
  color: #555e60;
  left:28px;
  margin-top: 6px;
  padding-left: 4px;
  padding-right: 14px;
  border-right:3px solid;
  margin-bottom: -5px;
}
.email::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0e0";
}
.password::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f023";
}

.or{
  margin:0 auto;
  font-size:20px;
  color:white;
  margin-bottom: 10px;
}

.btn-login,.btn-signin{
  width:220px;
  margin:20px 0 10px;
  background-color: #27c2a5;
  color:#fff;
  font-size:19px;
  padding: 7px 14px;
  border-radius:30px;
  border:none;
  margin-bottom: 10px;
  i{
    margin-right: 10px;
  }
}
.btn-tweet-login,.btn-tweet-signin{
  width:220px;
  margin:5px 0 10px;
  color:#fff;
  font-size:19px;
  padding: 7px 14px;
  border-radius:30px;
  margin-bottom: 20px;
  background-color: #1da1f3;
  border:none;
  i{
    margin-right: 10px;
  }
}
.btn-login:hover,.btn-login:focus{
  background-color: #25a890!important;
}
.btn-tweet-login:hover,.btn-tweet-login:focus{
  background-color: #4689FF!important;
  color:#005FFF;
}
.test-login{
  font-size:15px;
  background-color: black;
  margin-top:50px;
}
/*toppage*/
.toppage_contents{
  background-color: #fafafa;
}
.cover {
  margin-top: -20px;
  width: 100%;
  height: 600px;
  background: url("vege.jpg") center center no-repeat;
  background-size: cover;
}

.cover .cover-inner {
  height: 100%;
  margin:0 auto;
  width:60%;
}
.cover .cover-inner .cover-contents {
  text-align: center;
  position: relative;
  padding-top:175px;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 50px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.search{
  display:flex;
  .form-control{
    padding-left:40px;
    border-radius:0px!important;
    height:60px;
    font-size:15px;
  }
  .freeword{
    width:50%;
    position:relative;
    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f002";
      font-size:20px;
      left:13px;
      top:17px;
      position:absolute;
      color:orange;
    }
  }
  .area{
    width:30%;
    position:relative;
    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f3c5";
      font-size:20px;
      left:13px;
      top:17px;
      position:absolute;
      color:orange;
    }
  }
  .btn{
    width:20%;
    border-radius: 0px!important;
  }
}

.under-search{
  display:flex;
  .empty{
    width:50%;
  }
  .toppage-popup {
    width:20%;
    height:50px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 1px #999;
    position:relative;
    color:orange;
    border-radius:2px;
    margin-top:1px;
    &:hover{
      background-color:orange;
      color:white;
    }
    #current_point{
      width:100%;
      padding-top:15px;
      cursor:pointer;
      height:100%;
      font-size:15px;
      text-align: initial;
      padding-left: 40px;
    }
    .fa-street-view{
      position:absolute;
      left:10px;
      top:15px;
      font-size:20px;
    }
  }
}
.h2-top{
  padding-bottom:20px;
  margin:120px 15px 30px 15px;
  border-bottom:2px solid #d5d5d8;
  font-family:Genkaimincho;
}
.toppage-restaurant_title{
  font-size:15px;
  margin-left:5px;
  color:#fff;
  background-color: darkorange;
  padding:5px;
  border-radius:5px;
  margin-top:5px;
  display:inline-block;
}
.toppage-comment_container{
  box-shadow:0 0 3px;
  border:1px solid #ccc;
  border-radius:1px;
  width:45%;
  margin:0 10px 20px 30px;
  padding:0;
}
.toppage-comment_image{
  width:175px;
  height:200px;
  img {
    width:175px;
    height:200px;
  }
}
.toppage-comment_name{
  padding-left:70px;
  margin-left:10px;
  margin-bottom:50px;
  margin-top:10px;
  color:#6c6c75;
  font-size:1.2em;
  margin-top:20px;
}
/* items */

.con {
  background-color: white;
  display:flex;

  overflow-x:auto;
}
.item{
  position:relative;
  width:300px;
  margin:0 15px;
  .buttons{
    margin:5px 0 5px 0;
  }
  .restaurant-img img {
    width: 300px;
    height: 250px;
    border:1px solid #ccc;
    box-shadow:0 0 5px;
    object-fit: cover;
  }
}
.item-desc{
  padding:10px 0;
  .item-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-weight: bold;
    font-size:14px;
    color:black;
    margin:5px 0 1px 0;
  }
}
.item_pr_long{
  font-size:14px;
  margin:40px 0;
  button{
    margin-bottom:20px;
    font-weight:bold;
    color:#fff;
    background-color: #34495E;
    padding:5px 30px;
    font-size:20px;
    display:inline-block;
  }
  p{
    color:#4c5b66;
    padding:10px;
    background-color: #fafafa;
    border:1px solid #eaeaeb;
  }
}
.rating_container{
  position:relative;
  margin-bottom:20px;
  .star-rating_count{
    position:absolute;
    left:105px;
    top:0px;
    color:darkorange;
    font-weight:bold;
    font-size:17px;
  }
}
.item-pr {
  max-height: 130px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size:12px;
  a{
    text-decoration: none;
    color:#555e60;
  }
}

/* restaurant showpage*/
.show_title_size{
  font-size:30px!important;
  margin-bottom:10px;
}
.show_rating_size img{
  height:23px!important;
  width:23px!important;
}
.show_star-rating_count{
  position:absolute;
  left:150px;
  top:-5px;
  color:darkorange;
  font-weight:bold;
  font-size:27px;
}
.show-restaurant_map{
  #map{
    height: 350px;
    width:100%;
    margin: 0 auto;
  }
}
.write-review,.show-restaurant_like form input{
  border: 1px solid #ccc;
  border-radius:5px;
  box-shadow:3px shadow;
  padding:6px;
  margin-right:15px;
}
.write-review i {
  color:orange;
  padding-right:5px;
}
.write-review a{
  text-decoration:none;
  color:orange;
  font-weight:bold;
}
.show-restaurant{
  position:relative;
}
.show-restaurant_like form{
  display:inline!important;
}

.show-restaurant_right_images{
  display:flex;
  flex-wrap:wrap;
  margin-top:10px;
  img{
    object-fit: cover;
    margin-right:5px;
  }
}
.show-restaurant_cover{
  margin-top:-20px!important;
}
.restaurant-info-table{
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0 16px;
  border: 1px solid #eaeaeb;
  background-color: #fafafa;
  margin-top:20px;
  }
  .restaurant-info-table_body:not(:last-of-type) {
    border-bottom: 1px solid #eaeaeb;
  }
  .restaurant-info-table_title {
    display: flex;
    box-sizing: border-box;
    flex: 130px;
    align-items: center;
    padding: 16px 8px;
    color: #2e2e3b;
    font-weight: 700;
    i{
      margin-right:10px;
      color:darkorange;
    }
  }
  .restaurant-info-table_body {
    display: flex;
    min-height: 80px;
    box-sizing: border-box;
    flex-basis: calc(100% - 212px);
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    padding: 16px 8px;
    color: #4a4a4b;
  }
/* 新規登録　ログイン */
.form-avatar{
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  height: 30px;
  width: 70%;
  padding-top: 5px;
  margin:0 auto;
}
.avatar-icon{
  width: 10%;
  font-size: 18px;
  color: #555e60;
  padding: 1px;
  margin: 0 13px;
}

/*new-restaurant*/
.new-restaurant{
  .search-result{
    font-size:17px;
    color:#333333;
    span{
      padding-left:15px;
    }
  }
  .search-word{
    font-size:13px;
    color:black;
    margin-right:5px;
  }
  .new-restaurant-container{
    margin-top: 10px;
    .scroll{
      overflow:scroll;
      height:680px;
    }
    #map{
      height:680px;
    }
  }
  .new-restaurant-result{
    position:relative;
    display:flex;
    background-color: #fff;
    border-top:1px solid #dfdfdf;
    border-bottom:1px solid #dfdfdf;
    padding:10px 10px 10px 5px;
    &:hover{
      background-color:#FFFFEE;
    }
  }
  .new-restaurant_img{
    width:40%;
    height:200px;
    margin-right:10px;
  }
  .new-item_desc{
    width:60%;
    .new_item_title{
      font-family:HiraKakuStdN-W8;
    }
    .item_pr_short{
      margin-top:20px;
      font-size:12px;
      font-weight:bold;
      color:darkblue;
    }
    .star-rating img{
      height:20px;
    }
  }
}
.google-message{
  width:80px;
  height:20px;
}
.restaurant-link{
  height:100%;
  width:100%;
  position:absolute;
  top:0px;
  left:10px;
}
/*comment*/
.comment-area{
  margin-top:20px;
}
.comment-container{
  border-bottom: 2px solid #dfdfdf;
  padding: 15px 0;
  margin-bottom:1px;
}
.comment-images{
  overflow-x:auto;
  white-space: nowrap;
  width:80%;
  margin-bottom:10px;
  image{
    display: inline-block;
  }
}
.comment-icons{
  position:relative;
  .user-icon{
    position:absolute;
    top:-8px;
    left:5px;
  }
  .comment-name{
    padding-left:70px;
    margin-left:10px;
    margin-bottom:20px;
    color:#6c6c75;
    font-size:1.2em;
    margin-top:10px;
    margin-bottom:20px;
  }
}
.chat-box{
  margin:10px 0 20px 10px;
}
.comment_each_image{
  position:relative;
  .image_remover{
    background-color: tomato;
    color:white;
    font-size:13px;
    position:absolute;
    right:3px;
  }
}
.user-icon{
  img{
    border-radius:50%;
    margin-left:3px;
  }
}

.credit-form{
  border-radius:5px;
  margin-top:30px;
  .telnumber{
    background-color: #4c5b66;
    color:#fff;
    font-size:1.2em;
    padding-left: 5px;
    display:inline-block;
    margin-right:10px;
    height:35px;
    border-radius:3px;
    padding:4px 5px 0 5px;
    i{
      color:#fff;
      margin-right: 5px;
    }
  }
}
.like-btn form input,.stripe-button-el {
  width:100%;
  text-align: center;
  font-size:20px;
  height:40px;
  margin-top:10px;
  font-weight: bold;
  border-radius:5px;
}

.comment_form{
  margin-bottom:10px;
}

.p-comment__formBox {
  margin: 30px auto;
  padding: 25px 25px 10px 25px;
}

.p-comment__formTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.comment_listTitle {
  margin-top: 50px;
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 10px;
  font-size:20px;
  font-weight:bold;
}
.empty_comments{
  border-radius:10px;
  border:6px solid darkorange;
  margin-top:30px;
  width:70%;
  h1{
    text-align: center;
    padding:50px 0;
    a{
      color:darkorange;
    }
  }
}
.comment-link:hover{
  text-decoration:none;
}

.comment_bottom{
  font-size: 13px;
  text-align: left;
  position:relative;
  i.fa-calendar-alt{
    padding-right:10px;
    padding-left:7px;
  }
  .btn-success{
    position:absolute;
    right:50px;
    top:-7px;
    font-size:10px;
  }
  .btn-danger{
    position:absolute;
    right:10px;
    top:-7px;
    font-size:10px;
  }
}
/* restaurant show button*/
.btn-gradient-3d-orange {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.btn-gradient-3d-orange:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/* mypage */
.mypage_cover{
  background-color:#faf8f5;
  margin-top:-20px!important;
  padding:50px 0;
}
.mypage{
  background-color: #fff;
  border-radius:10px;
  border:1px solid #ccc;
  padding:20px;
}
.menu ul{
  list-style:none;
  margin:0;
  li{
    font-size:1.2em;
    padding:15px;
    position:relative;
    background-color:#34495E;
    border-top:1px solid #ccc;
    border-right:5px solid #f1c40f;
    transition:  all 0.3s;
    &:hover{
      background-color: orange;
    }
  }
  a{
    color:#fff;
    text-decoration:none;
  }
  span{
    margin-right:15px;
  }
}
.logout{
  margin-top:125px;
  border-right:5px solid tomato!important;
  &:hover{
    background-color: #FF3333!important;
  }
}

.edit-user_page{
  .form-effect{
    border: 1px solid #ccc;
    box-shadow:0 0 2px;
    border-radius:3px;
    margin-bottom:30px;
    height:35px;
  }
  .form-area{
    height:150px;
    padding:10px;
  }
  .edit-user_title{
    padding-bottom:20px;
    margin-top:0px;
    border-bottom:1px solid #ccc;
    font-family:'HiraMinProN-W3';
    font-weight:bold;
  }
  .edit-user_label{
    padding-top:5px;
    font-size:1.2em;
    margin-right:10px;
  }
  .edit-user_submit{
    background-color: #fff;
    border-radius:30px;
    padding:10px 20px;
    font-size:1.2em;
    width:50%;
    display:inline-block;
    color:white;
    background-color:darkorange;
    font-weight:bold;
  }
}
/* follow follower */
.following{
  border:none;
  background-color: #fff;
}
.show-user_relation{
  border-bottom:3px solid #ccc;
  color:darkslategrey;
  margin:20px 0;
  justify-content: space-between;
  span{
    color:black;
    padding-right:5px;
  }
}
.show-user_name{
  width:60%;
}
.relation_count{
  margin-top:30px;
}
.show-user_follow{
  border-right:1px solid #ccc;
  padding-right:40px;
}
.show-user_follower{
  padding-left:10px;

}
.show-user_follow_button{
  padding-left:40px;
}
.profile{
  font-weight:bold;
  background-color: #fafafa;
  border:1px solid #ccc;
  border-radius: 3px;
  padding:10px;
  overflow: auto;
  p{
    width:100%;
    font-size:13px;
  }
}


.following_button{
  position:relative;
  color: #fff;
  i{
    position:absolute;
    left:60px;
    top:2px;
  }
  .following{
    width:200px;
    background-color: #4c5b66;
    padding:15px 0 15px 30px;
    border-radius:5px;
  }
  .follow{
    width:200px;
    background-color: #fff;
    padding:15px 0 15px 30px;
    border-radius:5px;
    color:#4c5b66;
    border:1px solid #4c5b66;
  }
}

.follow_and_follower_title{
  border-bottom:1px solid #dcdcdc;
  padding-bottom:20px;
  margin-right:40px;
  width:90%;
}
.follow_and_follower{
  box-shadow:0 0 5px;
  height:90px;
  padding:5px;
  border-radius:3px;
  margin:10px 15px 10px 10px;
  background-color: #fff;
  color:darkslategrey;
  text-decoration:none;
  &:hover{
    background-color: #FFFFDD;
  }
  .follow_image img{
    width:75px;
    height:100%;
  }
  .follow_name{
    font-weight:bold;
    font-size:1.1em;
    padding-left:5px;
  }
  .follow_image{
    width:30%;
    margin-right:10px;
  }
  .follow_desc{
    padding:15px 0;
    width:70%;
  }
  .follow_comment,.follow_count {
    font-size:1.1em;
    padding:0 5px;
    font-weight:bold;
  }
}

/* user posts */
.userposts_comment{
  box-shadow:0 0 5px;
  height:100px;
  padding:5px;
  border-radius:3px;
  margin:10px 15px 10px 10px;
  background-color: #fff;
  color:darkslategrey;
  text-decoration:none;
  &:hover{
    background-color: #FFFFDD;
  }
  .follow_image img{
    width:90px;
    height:100%;
  }
  .follow_image{
    width:30%;
    margin-right:10px;
  }
  .userposts_desc{
    padding:15px 0;
    width:70%;
    position:relative;
    .userposts_restaurant_title{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      font-size:15px;
      font-weight:bold;
    }
    .star-rating{
      position:absolute;
      bottom:10px;
      left:0px;
    }
    .comment_effect{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-size:11px;
      color:#555555;
      padding-top:5px;
      &::before{
        padding-right:5px;
      }
    }
  }
}
/* commetns　新規投稿*/


.new-restaurant_top{
  padding:10px;
  .new-restaurant_form{
     margin:20px 0;
  }
  .new-restaurant_img{
    margin:20px 0;
  }
}
.new-rating img{
  height:25px;
  width:25px;
}
.new-restaurant_comment{
  font-size:15px;
  min-height: 200px;
  margin-top:20px;
  padding:10px;
}

.recent-comments{
  border-left:1px solid #ccc;
  padding-left:10px;
  height:750px;
  position:absolute;
  top:70px;
  right:0px;
}

#preview{
  display:flex;
  justify-content:space-around;
  img{
    height:200px!important;
    width:200px!important;
    margin-bottom:20px;
  }
}
#preview img{
  width:21%;
  height:21%;
}

/*ranking*/
hr{
  background-color:#d6ceb4;
  margin:40px 0px;
  box-shadow:0px 0px 5px;
}
.ranking-inner{
  width:900px;
  background-color: white;
  margin:0 auto;
}
.list{
  width:800px;
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  border: 3px solid #F0E68C;
  box-shadow:0px 0px 20px;
  background-color: white;
  border-radius:15px;
  padding:0px 20px 20px 20px;
  img{
    width: 300px;
    margin: 5px 30px 5px 5px;
  }
}
.list-title{
  width:85%;
  border-bottom:3px solid rgb(233, 229, 229);
  font-size:20px;
  font-weight:bold;
  color:black;
  padding:20px;
  border-radius:10px;
}
.first span{
  font-size:30px;
  color:#F0E68C;
}
.secound span{
  font-size:30px;
  color:silver;
}
.third span{
  font-size:30px;
  color:#D2691E;
}
.secound{
  width:800px;
  border:3px solid silver;
}
.third{
  width:800px;
  border:3px solid #D2691E;
}
.first .fas{
  color:#FFCC00;
  font-size:30px;
  margin-right: 10px;
}
.secound .fas{
  color:silver;
  font-size:25px;
  margin-right: 10px;
}
.third .fas{
  color:#D2691E;
  font-size:20px;
  margin-right: 10px;
}
.list-title .rank{
  margin-right:30px;
}
.list-box {
display: table;
width: 100%;
margin-bottom:20px;
position:relative;
}
.ranking-link{
  position:absolute;
  height:100%;
  width:100%;
}
.list-img,.list-text {
display: table-cell;
vertical-align: middle;
text-decoration:none;
}
.like_count{
  size:30px;
  font-size:30px;
  color:orange;
  i{
    margin-right:20px;
  }
}
.list-cat {
background-color: #FF6600;
border-radius: 10px;
color: #fff;
font-size: 10px;
padding: 0 5px;
}
.list-date {
color: #aaa;
font-size: 10px;
margin-left: 10px;
}
.list-text h3 {
color: #555e60;
font-size: 20px;
line-height: 1.4;
margin-right: 10px;
}
